#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  display: flex; /* Используем Flexbox для горизонтального выравнивания */
  flex-direction: column;
  flex-wrap: wrap; /* Если не влезает в строку, компоненты переносятся */
  gap: 1rem; /* Расстояние между компонентами */
  justify-content: center; /* Центрируем компоненты по горизонтали */
  align-items: flex-start; /* Выравниваем компоненты по верху */
}

.card {
  padding: 2em;
  flex: 0 1 calc(33.333% - 1rem); /* Каждая карточка занимает 1/3 ширины контейнера */
  box-sizing: border-box;
}
